.white-block {
width: 20%;
height: 200px;
background-color: white;
float: left;
position: relative;
}

.black-block {
width: 60%;
height: 200px;
background-color: black;
float: left;
position: relative;


