/*Menu CSS */

@font-face { font-family: AvenirNextLTPro-Regular; src: url('AvenirNextLTPro-Regular.otf'); } 
@font-face { font-family: AvenirNextLTPro-Medium; src: url('AvenirNextLTPro-Medium.otf');}
@font-face { font-family: AvenirNextLTPro-Bold; src: url('AvenirNextLTPro-Bold.otf'); } 

@font-face { font-family: HanWangShinSuMedium; src: url('wt071.ttf');}
@font-face { font-family: HanWangYanKai; src: url('wt064.ttf');}

@font-face {
 font-family: Alcubierre;
 src: url('Alcubierre.otf');
 }
 
 @font-face {
 font-family: Sadie Sans;
 src: url('Sadie Sans.otf');
}

body {
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
 }
 
.mb { background-color: white; height: 80px; width: 100%; padding: 0px; display: block; }
.mb #logo { float: left; display: block; height: 0px; width: 120px;}.mb .menu {float: left; display: block; padding-left: .5em; padding-right: .5em; padding-top: .7em; padding-bottom: .7em; line-height: .5em; color: black; text-align: center; font: 1em AvenirNextLTPro-Regular; text-decoration: none;}.mb .chinese { float: right; display: block; padding-top: 1.6em; padding-bottom: .6em; padding-right: .7em; padding-left: .7em; line-height: 1.7em; font: 1.2em HanziPen SC; color: black; text-align: center; text-decoration: none;}
.mb .icons { margin: 0px; display: block; float: right; padding-top: 1.7em; padding-bottom: 1.4em; padding-left: 1em; padding-right: 1em; line-height: 1.5em; color: black; font-size: 1.2em; background-color: white;}.mb .icons:hover { color: white; background-color: black; opacity: .7;}.mb .menu:hover { color: white; background-color: black; opacity: .7;}.mb .chinese:hover { color: white; background-color: black; opacity: .7;}#logo-eat { width: 500px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 20px; padding: 0px;}



#logo-eat { width: 500px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 20px; padding: 0px;}#yo { width: 100%; padding: 0; margin: 0; }
h3 { font: 2.8em Sadie Sans; color: white; text-align: center; }
.para { margin-top: 5em; margin-left: 5em; margin-right: 5em; margin-bottom: 2em; font: 1.2em  AvenirNextLTPro-Regular; line-height: 1.5em;} 
#two-para { padding-top: 0px; margin-top: 0em; margin-left: 5em; margin-right: 5em; margin-bottom: 5em; font: 1.2em  AvenirNextLTPro-Regular; line-height: 1.5em;}

#box {width: 100%;height: 6em; background-color: black;}
#copyright {text-align: center;color: white;font: .75em AvenirNextLTPro-Regular; margin-bottom: 0em;padding: 0em;}
#address {text-align: center;color: white;font: 1em AvenirNextLTPro-Regular;padding-top: .5em; margin-bottom: 0em; }
#social {
margin-left: auto;
margin-right: auto;
width: 120px;
margin-top: 1px;
padding-top: 1px;
}
.icons { display: inline-block; text-align: center; padding: .5em; line-height: .1em; margin-top: .1em; color: white; font-size: 1.2em; background-color: black;}
.icons:hover { color: #6AE6DF; }

