.block {
 display: inline-block; 
}

#left-block {
width: 100px;
height: 200px;
background-color: white;
float: left;

}

#right-block {
width: 100px
height: 200px;
background-color: white;
float: right;
}

#middle-block {
 height: 200px;
 margin-left: 100px;
 margin-right: 100px;
 background-color: black;
 font-color: white;
}


