@font-face {
 font-family: Alcubierre;
 src: url('https://raw.githubusercontent.com/chryswlch/hello-jasmine/master/Alcubierre.otf');
 }
 
.mb {
 background-color: white;
 height: 60px;
 width: 100%;
}

.mb .menu {
 float: left;
 display: block;
 padding: .5em;
 line-height: 1.7em;
 color: black;
 text-align: center;
 font: 1.2em Alcubierre;
 text-decoration: none;
}

.mb .chinese {
 float: right;
 display: block;
 padding: .5em;
 line-height: 1.7em;
 font: 1.2em Hanzipen TC;
 color: black;
 text-align: center;
 text-decoration: none;
 
 background-color: white;
}

.mb .icons {
 display: block;
 float: right;
 padding: 1em;
 line-height: 1.7em;
 color: black;
 font-size: 1.2em;
 background-color: white;
}

.mb .icons:hover {
 color: white;
 background-color: black;
 opacity: .7;
}

.mb .menu:hover {
 color: white;
 background-color: black;
 opacity: .7;
}

.mb .chinese:hover {
 color: white;
 background-color: black;
 opacity: .7;
}


#chicken {
width:100%;
padding: 0;
margin: 0;
overflow: hidden;
z-index: 1;
}

#motto {
padding: 10px;
width: 100%;
background-color: white;
z-index: 0;
display: block;
overflow: hidden;
position: relative;

}

h2 {
font: 3em Alcubierre;
margin: .25em;
text-align: center;
}

#tea {
font: 2em Alcubierre;
margin-right: 7em;
float: right;
}

#ttea {
font: 2.5em Hanzipen TC;
margin-left: 4em;
}

#eats {
font: 2em Alcubierre;
float: right;
margin-right: 4em;
}

#flavor {
font: 2.5em Hanzipen TC;
margin-left: 8em;
margin-bottom: 2em;
}

#box {
width: 100%;
height: 4em;
background-color: black;

}

#copyright {
text-align: center;
color: white;
font: .75em Serif;
margin-bottom: 2em;
padding: .1em;
}

#address {
text-align: center;
color: white;
font: 1em Serif;
padding: .3em;
 }
