@font-face {
 font-family: Alcubierre;
 src: url('https://raw.githubusercontent.com/chryswlch/hello-jasmine/master/Alcubierre.otf');
 }
 

 .icons i {
 color: black;
 font-size: 1.2em;
 float: right;
 line-height: 1.7em;
 margin-top: .5em;
 padding: .5em;
}

.icons i:hover {
 color: white;
 background-color: black;
}



#menu {
width: 100%;
}

#menu-bar {
height: 60px;
width: 100%;
background-color: white;

}

#menu ul {
list-style-type: none;
text-align: center;
margin: 0;
background-color: white;
}

a.menu {
margin: 0;
float: left;
padding: .5em;
line-height: 1.7em;
 text-decoration: none;
}

.menu-items {
 color: black;
 font: 1.2em Alcubierre, Arial, Sans Serif;
 text-decoration: none;
}
.menu-items:hover {
color: white;
}

.menu:hover {
 background-color: black;
}

.chinese-menu {
font: 1.2em Hanzipen TC;
text-decoration: none;
color: black;
}

#chinese {
float: right;
line-height: 1.7em;
padding: .5em;
margin: 0;
}



#chicken {
width:100%;
padding: 0;
margin: 0;
overflow: hidden;
z-index: 1;
}

#motto {
padding: 10px;
width: 100%;
background-color: white;
z-index: 0;
display: block;
overflow: hidden;
position: relative;

}

h2 {
font: 3em Alcubierre;
margin: .25em;
text-align: center;
}

#tea {
font: 2em Alcubierre;
margin-right: 7em;
float: right;
}

#ttea {
font: 2.5em Hanzipen TC;
margin-left: 4em;
}

#eats {
font: 2em Alcubierre;
float: right;
margin-right: 4em;
}

#flavor {
font: 2.5em Hanzipen TC;
margin-left: 8em;
margin-bottom: 2em;
}

#box {
width: 100%;
height: 4em;
background-color: black;

}

#copyright {
text-align: center;
color: white;
font: .75em Serif;
margin-bottom: 2em;
padding: .1em;
}

#address {
text-align: center;
color: white;
font: 1em Serif;
padding: .3em;
 }
