/* Header */

@font-face {
 font-family: Alcubierre;
 src: url('Alcubierre.otf');
 }
 
 @font-face {
 font-family: Sadie Sans;
 src: url('Sadie Sans.otf');
}

@font-face {
 font-family: NexaRustHandmade-Extended;
 src: url('NexaRustHandmade-Extended.otf');
}

@font-face {
 font-family: Calibri Light;
 src: url('Calibril.ttf');
 }
 
.mb {
 background-color: white;
 height: 60px;
 width: 100%;
}

.mb #logo {
 float: left;
 display: block;
 height: 57px;
 width: 200px;
}

.mb .menu {
 float: left;
 display: block;
 padding: .5em;
 line-height: 1.7em;
 color: black;
 text-align: center;
 font: 1.2em Alcubierre;
 text-decoration: none;
}

.mb .chinese {
 float: right;
 display: block;
 padding: .5em;
 margin-right: .5em;
 margin-bottom: .5em;
 line-height: 1.7em;
 font: 1.2em Hanzipen;
 color: black;
 text-align: center;
 text-decoration: none;
}

.mb .icons {
 display: block;
 float: right;
 padding: 1em;
 line-height: 1.7em;
 margin-top: .5em;
 color: black;
 font-size: 1.2em;
 background-color: white;
}

.mb .icons:hover {
 color: white;
 background-color: black;
 opacity: .7;
}

.mb .menu:hover {
 color: white;
 background-color: black;
 opacity: .7;
}

.mb .chinese:hover {
 color: white;
 background-color: black;
 opacity: .7;
}




#fruit {
 margin-bottom: .1em;
}

#org {
 margin-bottom: .1em;
}


#bt {
width: 100%;
height: 150px;
background-image: url('brewed-tea.jpg');
 
}

#mt {
width: 100%;
height: 150px;
background-image: url('bubble tea.jpeg');
}

.kind-of-tea {
 font: 6em Sadie Sans;
 color: white;
 text-align: center;
 margin-top: 30px;
margin-bottom: 30px;
padding-top: 20px;
}

.teas {
 text-align: center;
 font: 1.5em Alcubierre;
 color: black;
 margin-bottom: .1em;

}

.desc {
 text-align: center;
 font-style: italic;
 color: black;
 font: .9em Alcubierre;
 margin-top: 0;
}
 

